<ul>
  <li *ngFor="let user of users">{{ user.name }}</li>
</ul>

<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
  <agm-marker *ngFor="let producer of producers; let i = index" [latitude]="producer.lat" [longitude]="producer.lng" [markerDraggable]="isEditable" (markerClick)="setCurrentMarkerIndex(i)"></agm-marker>
</agm-map>
<mat-button-toggle (click)="switchEditMode()">Edit!</mat-button-toggle>
<mat-button-toggle (click)="enableAddMode()">New Marker!</mat-button-toggle>
<button mat-button (click)="deleteItem()">Remove</button>
<p *ngIf="currentMarkerIndex > -1">Selected Marker: {{ producers[currentMarkerIndex].name}}</p>
